# Python caching
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Packaging build artifacts
build/
dist/
*.spec

# Native backend C++ binaries (exclude large binaries from repository)
backend_bin/

# Pipeline output data
reconstruction_out/
*.log

# Final packed distributions
Proximap_Commercial_Release.zip
Proximap_Setup.exe
Proximap_Mac_Release.zip
Proximap_MacOS_ARM64_Release.zip
Proximap_MacOS_ARM64_Release.dmg
Proximap_1.0.0_amd64.deb
Proximap_1.4.0_amd64.deb
Proximap_Linux_Release.zip
proximap_1.4.0_amd64.snap
